*{
    text-decoration: none;
}
div{
    display: block;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{
    margin: 0;
    padding: 0;
}

#box{
    width: 100%;
    display: block;
}
#backimg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#backimg img{
    width: 100%;
    height: 100%;
    border: 0;
}
#logo{
    position: fixed;
    left: 70px;
    top: 60px;
    width: 124.4px;
    height: 40px;
}
#logo img{
    width: 100%;
    height: 100%;
}
#slogan{
    position: fixed;
    left: 195px;
    top: 314px;
    color: #fff;
}
#slogan h3{
    font-size: 54px;
    letter-spacing: 0;
    font-weight: 700;
}
#slogan p{
    font-size: 32px;
    letter-spacing: 3.81px;
    font-weight: 300;
    
}

#help{
    position: fixed;
    left: 70px;
    bottom: 57px;
    font-size: 14px;
    color: #fff;
}
#helpcontent{
    font-size: 14px;
    color: #fff;
}
#center{
    opacity: .8;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
#line{
    display: inline-block;
    width: 2px;
    height: 12px;
    opacity: .78;
    margin: 0 12px 0 13px;
    background: #fff;
    position: relative;
    top: 1px;
}
#tell{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/service-2x.png) no-repeat;
    background-size: 100%;
    position: relative;
    top: 3px;
}
#name{
    opacity: .54;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    padding-left: 30px;
}



#login {
    height: 518px;
    margin-top: -259px;
    position: absolute;
    right: 139px;
    top: 50%;
    width: 480px;
    border-radius: 12px;
    overflow: hidden;
    zoom: 1;
    background: rgba(255,255,255,.9);
}
#userlogin{
    padding-top: 40px;
}
.box1{
    margin-bottom: 20px;
    display: block;
    width: 720px;
    height: 40px;
}
#welcome{
    margin: 30px 0 0 39px;
}
#loginBtn{
    color: #2e58ff;
    cursor: pointer;
}
#ishave{
    font-size: 14px;
    color: #9B9B9B;
}


.user{
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    text-align: right;
    width: 82px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    font-weight: 200;
    display: block;
    float: left;
    cursor: default;
}
.usermessage{
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 321px;
    color: #000;
    display: block;
    position: relative;
    float: left;
    height: 16px;
}
#care{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 264px;
    left: 413px;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/pwdtip-2x.png) no-repeat;
    background-size: 100%;
}
#icode{
    width: 184px;
    margin-right: 9px;
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    color: #000;
    
}

#huoqu{
    width: 126px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    color: #333;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    height: 40px;
    font-weight: 400;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    display: block;
}
#box2{
    padding-top: 30px;
    margin-top: 0;
    
}
#btn{
    margin-left: 40px;
    background: #BDCEFC;
    border-radius: 25px;
    width: 399px;
    display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border: 0;
    
}
#xieyi{
    margin-top: 10px;
    margin-left: 41px;
    width: 399px;
    text-align: center;
    position: relative;
    clear: both;
    zoom: 1; 
    font-size: 12px;
}
#check{
    position: relative;
    top: 3px;
}
#read{
    color: #666;
    margin-left: 5px;
    cursor: default;
   
}
#xieyi a{
    color: #2E58FF;
    
}



#user1{
    position: absolute;
    width: 300px;
    height: 30px;
    top: 100px;
    display: none;
    visibility: visible;
    background-color: black;
    color: white;
    font-size: 12px;
    left: 97px;
}
#user2{
    font-size: 12px;
    color: #F55;
    background: 0 0;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    left: 97px;
    top: 175px;
    display: none;
}
#user3{
    font-size: 12px;
    color: #F55;
    background: 0 0;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    left: 97px;
    top: 175px;
    display: none;
}
#phone1{
    font-size: 12px;
    color: #F55;
    background: 0 0;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    left: 97px;
    top: 233px;
    display: none;
}
#phone2{
    font-size: 12px;
    color: #F55;
    background: 0 0;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    left: 97px;
    top: 233px;
    display: none;
}
#care{
    position: absolute;
    width: 314px;
    height: 80px;
    top: 166px;
    display: none;
    visibility: visible;
    background-color: black;
    color: white;
    font-size: 12px;
    left: 124px;
}
#setpwd{
    font-size: 12px;
    color: #F55;
    background: 0 0;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    left: 97px;
    top: 293px;
    display: none;
}
#dely{
    font-size: 12px;
    color: #F55;
    background: 0 0;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    left: 97px;
    top: 352px;
    display: none;
}